$color-text: #141414;
$color-text-light: #1d1d1d;
$color-background: #fff;


$font-header: 'Lato', sans-serif;
$font-text: 'Lato', sans-serif;

// $radius: 5px;
// $base-size: 14px;
// $transition: all 0.5s;
